<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="NamingConvention" type="NunoGomes.Web.Configuration.NamingSection, NunoGomesControlToolkit"
  allowDefinition="MachineToApplication"
  restartOnExternalChanges="true" />

  </configSections>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true"/>
    <authentication mode="Windows"/>

    <pages>
      <controls>
        <add tagPrefix="html" namespace="System.Web.UI.HtmlControls" assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </controls>
      <tagMapping>
        <add tagType="System.Web.UI.WebControls.Button, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.Button, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.TextBox, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.TextBox, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.DropDownList, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.DropDownList, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.CheckBox, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.CheckBox, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.CheckBoxList, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.CheckBoxList, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.Label, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.Label, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.Panel, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.Panel, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.PlaceHolder, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.PlaceHolder, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.ContentPlaceHolder, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.ContentPlaceHolder, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.RadioButton, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.RadioButton, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.RadioButtonList, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.RadioButtonList, NunoGomesControlToolkit"/>

        <add tagType="System.Web.UI.WebControls.Repeater, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.Repeater, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.RepeaterItem, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.RepeaterItem, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.GridView, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.GridView, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.GridViewRow, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.GridViewRow, NunoGomesControlToolkit"/>

        <add tagType="System.Web.UI.WebControls.RegularExpressionValidator, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.RegularExpressionValidator, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.RequiredFieldValidator, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.RequiredFieldValidator, NunoGomesControlToolkit"/>
        <add tagType="System.Web.UI.WebControls.CustomValidator, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             mappedTagType="NunoGomes.Web.UI.WebControls.CustomValidator, NunoGomesControlToolkit"/>
      </tagMapping>
    </pages>
  </system.web>

  <NamingConvention defaultProvider="ShortIDs">
    <providers>
      <add name="ShortIDs" type="NunoGomes.Web.Configuration.ShortIDsProvider, NunoGomesControlToolkit"
           exceptionlist="/Exception.aspx"
           keeporiginalids="false"/>
    </providers>
  </NamingConvention>

</configuration>
